@import './settings';



.Banner-APropos {
    display: flex;
    background-image: url("../assets/APropos.png");  
    background-position: center;
    border-radius: 25px;
    height: 12em;
    justify-content: center;
    position: relative; 
    margin-bottom: 5em;
    background-size: cover;
}

.Section-APropos{
    margin-left: $margin;
    margin-right: $margin;
}

@media (max-width: 768px) {
    .Banner-APropos {
       height:20em;
    }
}