@import './settings';


a{
    text-decoration: none;

    :hover{
        transform:scale(1.05) ;
        transition: all ease-in-out 0.3s;
    }
}


.card {
    display: flex;
    color: white;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    scale: 0.8;
    height: 35em;
    font-size: 10px;
    position: relative;

    

    h3 {
        display: flex;
        margin-left: 8px;
        position: relative; 
        z-index: 1;
        justify-content: flex-start;
        align-items: flex-end; 
        font-size: large;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2); 
        border-radius: inherit;
    }
}
  
  