@import './settings.scss';


.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .header-link {
        display: flex;
        align-items: center;
        justify-content: center;
      
        }

        a {
            margin-right: 20px;
            text-decoration: none; 
            color: $main-color;
            &:hover {
                text-decoration: underline;
        }
    }
}

