@import './settings.scss';


.header-nav {

    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right:10% ;
    margin-bottom: 2em;

    .header-link {
        display: flex;
        align-items: center;
        justify-content: center;
      
        }

        a {
            font-size: large;
            margin-right: 20px;
            text-decoration: none; 
            color: $main-color;
            &:hover {
                text-decoration: underline;
        }
    }
}

