@import './settings.scss';


.header-nav {

    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right:10% ;
    margin-bottom: 2em;

    .header-link {
        display: flex;
        align-items: center;
        justify-content: center;
      
        }

        a {
            font-size: large;
            margin-right: 20px;
            text-decoration: none; 
            color: $main-color;
            &:hover {
                text-decoration: underline;
        }
    }
}


@media (max-width: 768px) {
    .header-nav {
        position: relative;
        left:-2em;
       scale:0.8;
       margin: 0;
        
       a{
        white-space: nowrap;
        width: 100%;
       }
       
    }
}

